@model WebDevCoursework.Models.ForumDetailsVM

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Forum</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Forum.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Forum.Name)
        </dd>
    </dl>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Post
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Post item in Model.Posts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <tr>
                    @Html.DisplayFor(modelItem => item.TimePosted)
                </tr>
            </tr>
        }
    </tbody>
</table>

<h4>Add a comment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Details">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ForumId" value="@Model.Forum.Id"/>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Post" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Forum.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
