
@{
    ViewData["Title"] = "Search";
}

<h2>Search</h2>

<table class="table">
    <thead>
        <tr>
            <td>Forum No.</td>
            <td>Forum Title</td>
            <td>Description</td>
        </tr>
    </thead>
    <tbody>
        @foreach (Forum item in Model.Forums)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>
                    <a class="btn btn-default" asp-action="details" asp-route-Id="@item.Id">View</a>
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="edit" asp-route-Id="@item.Id">Edit</a>
                </td>
                <td>
                    <a class="btn btn-danger" asp-action="delete" asp-route-Id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>